modules filter=lfs diff=lfs merge=lfs -text
C:/Users/Eros/Documents/IntelliJ[[:space:]]IDEA/JavaFX/Auto_Shutdown/out/artifacts/Auto_Shutdown/Auto_Shutdown/runtime/lib/modules filter=lfs diff=lfs merge=lfs -text
